.jumbotron {
    background: url("../img/sky-background.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0

}

body {
    background: url("../img/sky-background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.card {
    margin-top: 5%;
    margin-bottom: 5%
}

.table {
    margin-bottom: 0;
}

.card-body {
    padding-bottom: 2%
}

.my-btn {

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: -2%


}

.my-btn2 {

    margin-top: 5%
}

.form-rounded {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 3%;
    padding-left: 2px;
    border: 1px black
}
