<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ChooseCity</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">


</head>
<body>
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to my weather app</h1>
<form th:action="@{/current}" method="post">
    <div class="form-group row justify-content-center input-group mb-3">
    <label for="city" class="col-form-label-lg"></label>
    <input class="form-rounded" id="city" type="text" name="city"
           placeholder="Enter name of city">
    <button type="submit" class="my-btn btn btn-light btn-lg active">See weather forecast</button>
    </div>
</form>
</div>
</body>
</html>